[submodule "VexRiscv"]
	path = VexRiscv
	url = https://github.com/LongStudy/VexRiscv.git
	branch = LowBits
[submodule "VexRiscvSocSoftware"]
	path = VexRiscvSocSoftware
	url = https://github.com/LongStudy/VexRiscvSocSoftware.git
	branch = LowBits
